opening_night/mods_tools/mods_map.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="modsCollection">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="mods" minOccurs="0" maxOccurs="unbounded" >
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="titleInfo">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="title">
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string"> </xsd:extension>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="name">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="namePart">
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string"> </xsd:extension>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="role">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="roleTerm">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string"> </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="type"/>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="name1">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="namePart1">
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string"> </xsd:extension>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="role1">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="roleTerm1">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string"> </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="type"/>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="name2">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="namePart2">
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string"> </xsd:extension>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="role2">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="roleTerm2">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string"> </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="type"/>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="typeOfResource">
                                <xsd:complexType>
                                    <xsd:simpleContent>
                                        <xsd:extension base="xsd:string"> </xsd:extension>
                                    </xsd:simpleContent>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="originInfo">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="place">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="placeTerm">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="type"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element name="placeTerm1">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="type"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element name="placeTerm2">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="type"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="place1">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="placeTerm">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="type"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="dateOther">
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="type"/>
                                                  </xsd:extension>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="displayLabel"/>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="genre">
                                <xsd:complexType>
                                    <xsd:simpleContent>
                                        <xsd:extension base="xsd:string"/>
                                    </xsd:simpleContent>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="genre1">
                                <xsd:complexType>
                                    <xsd:simpleContent>
                                        <xsd:extension base="xsd:string"/>
                                    </xsd:simpleContent>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="subject">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="topic">
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string"> </xsd:extension>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="displayLabel"/>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="subject1">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="temporal">
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string"> </xsd:extension>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="temporal1">
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string"> </xsd:extension>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="displayLabel"/>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>